<div class="text-container">
  <span class="title">Appetizers</span>
  <div class="row">
    <div class="column">
      <p>HOUSE-MADE CHIPS & SALSA $5</p>
        Fire-roasted tomato & tomatillo salsa, made-to-order corn chips.
        <br>Sub guacamole 2
        <br>
        <br>
      <p>NUTS & OLIVES $6</p>
        House-roasted nut mix with pitted lemon & peppercorn marinated olives<br>
        <br>
        <br>
      <p>FRIES $4</p>
        Fry sauce or cajun seasoning no extra charge
        <br>Ranch or BBQ sauce .50
        <br>Add cheese sauce 1
        <br>
        <br>
      <p>TOTS $6</p>
        Fry sauce, cajun, or taco seasoning no extra charge
        <br>Ranch or BBQ sauce .50
        <br>Add cheese sauce 1
        <br>
        <br>
        <p>MINI CORNDOG BASKET $6</p>
        Cornmeal-battered mini wieners and fries
    </div>
    <div class="column">
      <p>MAC AND CHEESE BALLS $7</p>
      From scratch. Served with spicy mayo or ranch
      <br>
      <br>
      <p>NACHOS $7</p>
      Tillamook cheddar cheese sauce, guacamole, pico de gallo,
      <br>and cilantro crema on fresh, crispy corn chips
      <br>
      <br>
      <p>WINGS 6 for $8/12 for $14</p>
      Jumbo chicken wings tossed in
      <br>Buffalo Bacon-Bourbon, BBQ, or 1/2 & 1/2 sauce.
      <br>Served with bleu cheese or ranch dip
      <br>
      <br>
      <p>CHICKEN STRIP BASKET $9</p>
      With fries. Served with your choice of two sauces:
      <br>Homemade ranch, BBQ, bleu cheese, fry sauce,
      <br>honey-mustard, or buffalo wing sauce.
      <br>
      <br>
      <p>CHEESE QUESADILLA $6</p>
      Melted Tillamook cheddar and house salsa
      <br>folded into a grilled flour tortilla.
      Topped with cilantro crema.
      <br>Add avocado 1.
      <br>Add grilled chicken 3
    </div>
  </div>
</div>
